<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse navbar">
    <ul class="nav navbar-nav navbar-left">
      <li class="logo">
        <b>EasyLearn</b>
      </li>
      <li class="dropdown" appDropdown>
        <a routerLink=" " class="dropdown-toggle" id="categories" data-toggle="dropdown">Categories
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header" (onClick) = clickClass()>Class
            <!-- <ul>
              <li>1-4</li>
              <li>5-8</li>
              <li>9-10</li>
              <li>11-12</li>
            </ul> -->
          </li>
          <li class="dropdown-header">Subject</li>
          <li class="dropdown-header">Institutes</li>
          <li class="dropdown-header">NCERT Questions</li>
          <li class="dropdown-header">Previous Year Questions</li>
          <li class="dropdown-header">Videos</li>
          <li class="dropdown-header">Guitar</li>
          <li class="dropdown-header">Painting</li>
          <li class="dropdown-header">Drawing</li>
          <li class="dropdown-header">Mehnadi</li>
          <li class="dropdown-header">Cricket</li>

        </ul>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control" type="search" id="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-default my-2 my-sm-0" id="searchButton" type="submit">Search</button>
        </form>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a id="home" routerLink="">Home</a>
      </li>
      <li>
        <a id="aboutUs" routerLink="/aboutus">About Us</a>
      </li>
      <li>
        <a id="contactUs" routerLink="/contactus">Contact Us</a>
      </li>
      <li class="login-signup">
        <a id="loginSignup" routerLink=" " (click)="onClick()">Login/SignUp</a>
      </li>
    </ul>
  </div>
</nav>