.navbar{
    color: white;
    font-size: 11px;
    padding: 20px;
    text-align: center;
    
}
ul.unstyled{
    list-style: none;
    padding: 0px;
}
h6{
    position: absolute;
    bottom: 0;
    left: 540px;
}
.dev{
    position: absolute;
    bottom: 0;
    left: 1050px;
}
