.container{
    position: relative;
    right: 0px;
    height: auto;
    /* opacity: 0.5; */
}
.navbar{
    color: rgb(247, 240, 240);
    font-size: 11px;
    padding: 20px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 0px;
    font-weight: bold;
    
}
ul.unstyled{
    list-style: none;
    padding: 0px;
}
h6{
    position: relative;
    margin-top: 30px;
    right: 120px;
}
.dev{
    position: relative;
    left: 80px;
    margin-top: 30px;
}