<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="row pull-center">
    <div class="col-sm-3">
      <h5>Subjects</h5>
      <ul class="unstyled">
        <li><a href="#">Maths</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Physics</a></li>
        <li><a href="#">Chemistry</a></li>
        <li><a href="#">Biology</a></li>
      </ul>
         
    </div>
    <div class="col-sm-3">
        <h5>Class</h5>
        <ul class="unstyled">
          <li><a href="#">1-4</a></li>
          <li><a href="#">5-8</a></li>
          <li><a href="#">9-10</a></li>
          <li><a href="#">11-12</a></li>
        </ul>

    </div>
    <div class="col-sm-3">
        <h5>Navigation</h5>
        <ul class="unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Key People</a></li>
        </ul>

    </div>
    <div class="col-sm-3">
        <h5>Follow Us</h5>
        <ul class="unstyled">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">GooglePlus</a></li>
        </ul>

    </div>
  </div>
  </div>
</div>