<form id="registration-form-teacher" role="form" style="display: block;">
  <div class="form-group">
    <input type="text"  required id="firstName" class="form-control" tabindex="1" placeholder="First Name" value="">
  </div>
  <div class="form-group">
    <input type="text" id="lastName" class="form-control" tabindex="2" placeholder="Last Name" value="">
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" class="form-control datepicker" id="dob" tabindex="3">
  </div>
  <div class="form-group">
    <label for="">Qualification</label>
    <select name="" id="" class="form-control" tabindex="4">
      <!-- <option value="">Qualification</option> -->
      <option value="">Bsc</option>
      <option value="">Bcom</option>
      <option value="">Btech</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Speciality</label>
    <select name="" id="" class="form-control" tabindex="5">
      <!-- <option value="">Qualification</option> -->
      <option value="">Bsc</option>
      <option value="">Bcom</option>
      <option value="">Btech</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" id="address" class="form-control" tabindex="5" placeholder="Address" value="">
  </div>
  <div class="form-group">
    <input type="text" id="aadhar" class="form-control" tabindex="6" placeholder="Aadhar Number" value="">
  </div>
  <div class="form-group">
    <input type="email" id="email" class="form-control" tabindex="7" placeholder="Email" value="">
  </div>
  <div class="form-group">
    <input type="password" id="password" class="form-control" tabindex="8" placeholder="Password" value="">
  </div>
  <div class="form-group">
    <input type=" submit" id="password" class="form-control btn btn-default" tabindex="9" value="Register">
  </div>
</form>