<div class="container body">
  <div class="row">
  <h2 class="header"><u>About Us</u></h2>
  <div class="row">
    <p>
      In todays busy world what people want is instant gratification. From
      booking cabs to ordering vegetables everything is reachable by just a click.
      One of the most important aspect of human race is Education and finding
      a good tution teacher is becoming difficult for the parents. It is often seen
      parents consulting relatives for tution teachers.
    </p>
  </div>
  <div class="row">
    <p>
      We at easylearn help parents in hiring tution teachers for their children.
      Be it a student of 1st grade or secondary school we provide list of teachers
      to select. We give student options to enroll in different coaching centers.
      Apart from that, easylearn also provides useful resources like NCERT
      solutions, important questions, previous year paper solution.
    </p>
  </div>
  <div class="row">
    <p>
      EasyLearn also helps young college students who pursue part time
      teaching to meet their financial needs. They can enroll with us and we
      provide them clients for teaching.
    </p>
  </div>
  <div class="row">
    <p>
      The moto of easylearn is to solve issues of parents of searching for tution
      teachers and provide quality education to the students.
    </p>
  </div>
</div>
</div>