.default{
	min-height: 400px;
}
.heading{
	/* font-size: 14px; */
	/* text-align: center; */
	margin-left: 30px;
}
.vl{
	
		border-left: 1px solid rgb(204, 206, 204);
		height: 130px;
		position: absolute;
		left: 50%;
		margin-left: 120px;
		top: 0;
	
}
.vl1{
	border-left: 1px solid rgb(204, 206, 204);
		height: 120px;
		position: absolute;
		left: 50%;
		margin-left: 250px;
		top: 10px;
}
.btn-primary{
	margin-left: 30px;
}
.advertisement{
	text-align: center;
}