<div class="container default">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="container teacher">
            <div class="row">
              <div>
                <h4 class="heading">
                  Become a Teacher
                </h4>
                <div class="vl"></div>
              </div>
              <div>
                <p class="content">
                  Share your Knowledge. We give you
                  <br> the platform to create your own class.
                </p>
              </div>
              <div>
                <button class="btn btn-primary" type="submit" >Start Teaching</button>
              </div>
          
            </div>
          </div>
          <br>
      <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="row">
                  <div>
                    <h4 class="heading1">
                     Post Your Requirement
                    </h4>
                  <!-- <div class="vl1"></div> -->
                  </div>
                  <div>
                    <p class="content1">
                      Share your Knowledge. We give you
                      <br> the platform to create your own class.
                    </p>
                  </div>
                  <div>
                    <button class="btn btn-primary " id="startTeaching" type="submit" >Start Teaching</button>
                  </div>
              
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="container">
            <div class="row">
              <div>
                <h4 class="heading">
                  Hire a Teacher
                </h4>
                
              </div>
              <div>
                <p class="content">
                  Share your Knowledge. We give <br> you
                   the platform to find best teachers.
                </p>
              </div>
              <div>
                <button class="btn btn-primary" type="submit" >Start Teaching</button>
              </div>
          
            </div>
          </div>
          <br>
      <!-- <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                  <div>
                    <h4 class="heading">
                      How it works.
                    </h4>
                  </div>
                  <div>
                    <p class="content">
                      Share your Knowledge. We give you
                      <br> the platform to create your own class.
                    </p>
                  </div>
                  <div>
                    <button class="btn btn-primary" type="submit" >Start Teaching</button>
                  </div>
              
                </div>
              </div>
        </div>
      </div> -->
    </div>
    <div class="col-md-3">
        <app-login *ngIf="toggleSignUpFlag"></app-login>
        <p class="advertisement"*ngIf="!toggleSignUpFlag">advertisement</p>
    </div>
    <div>
    </div>
  </div>
</div>