<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-become-ateacher></app-become-ateacher>
      <div class="row">
        <div class="col-md-4">
          <app-post-your-requirement></app-post-your-requirement>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-hire-ateacher></app-hire-ateacher>
      <div class="row">
        <div class="col-md-4">
          <app-how-it-works></app-how-it-works>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-signup">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a routerLink="" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a routerLink="/signup" class="active" id="signup-form-link">SignUp</a>
            </div>
          </div>
          <hr>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>