<div class="container">
  <div class="row">
    <h3 class="heading">Key People</h3>
    <div class="row">
      <p class="name">Gaurav Asopa</p>
      <p class="position">Founder & CEO</p>
      <p class="name1">Dhiraj Asopa</p>
      <p class="position3">Board of Director</p>
    </div>
    <div class="row">
      <p class="name">Saurav Asopa</p>
      <p class="position2">Co-Founder & CTO</p>
      <p class="name1">Dhiraj Asopa</p>
      <p class="position3">Board of Director</p>
    </div>
  </div>
</div>