<div class="container">
  <div class="row">
    <h3 class="heading">Key People</h3>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="row">
        <p class="name">Gaurav Asopa</p>
        <p class="position">Founder & CEO</p>
      </div>
      <div class="row">
        <p class="name1">Dhiraj Asopa</p>
        <p class="position3">Board of Director</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <p class="name">Saurav Asopa</p>
        <p class="position2">Co-Founder & CTO</p>
      </div>
      <div class="row">
        <p class="name1">Neeraj Asopa</p>
        <p class="position3">Board of Director</p>
      </div>
    </div>
  </div>
</div>