<form id="registration-form-student" role="form" style="display: block;">
  <div class="form-group">
    <input type="text" id="firstname" class="form-control" tabindex="1" placeholder="First Name" value="">
  </div>
  <div class="form-group">
      <input type="text" id="lastName" class="form-control" tabindex="2" placeholder="Last Name" value="">
    </div>
    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" class="form-control datepicker" id="dob" tabindex="3">
      </div>
      <div class="form-group">
          <input type="text" id="aadhar" class="form-control" tabindex="4" placeholder="Aadhar" value="">
        </div>
  <div class="form-group">
    <input type="text" class="form-control" id="address" tabindex="5" placeholder="Address" value="">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="username" tabindex="6" placeholder="Username" value="">
  </div>
  <div class="form-group">
  <input type="text" class="form-control" id="password" tabindex="7" placeholder="Paasword" value="">  
  </div>
</form>